# Port on which the server will run
PORT=5000

# PostgreSQL database connection URI
# Replace {user}, {password}, and {database} with your actual PostgreSQL credentials and database name
PG_URI=postgresql://{user}:{password}@localhost:5432/{database}

# Secret key used for signing session cookies
# This should be a random, secure string to ensure the integrity of session data
SESSION_SECRET={your_secret_code}

# Invitation code used for signing up users
# Replace {secret_code_for_signing_up} with the actual code to control user registration access
# Remember to add the same code in frontend too
VALID_INVITATION_CODE={secret_code_for_signing_up}