/* Container for the login form */
.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
    background-image: url('/src/assets/Acadia_Login.jpeg');
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Header for the login form */
.auth-container h2 {
    font-size: 2rem;
    color: #2C3E50; /* Navy Blue */
    margin-bottom: 2rem;
    background-color: #f5f5dc;
    padding: 5px;
    border-radius: 4px;
    width: 30%;
    text-align: center;
}

/* Error message */
.error {
    color: #8A1538; /* Crimson Red */
    margin-bottom: 1rem;
    font-size: 1rem;
}

/* Form styling */
form {
    width: 100%;
    max-width: 400px;
    background-color: #FFFFFF; /* White background for the form */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 0.8rem;
    margin: 0.8rem 0;
    border: 1px solid #D4AF37; /* Soft Gold border for inputs */
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Input focus style */
input[type="text"]:focus,
input[type="password"]:focus
input[type="email"]:focus {
    border-color: #8A1538; /* Crimson Red border on focus */
    outline: none;
}

/* Submit button */
button[type="submit"] {
    width: 100%;
    padding: 0.8rem;
    background-color: #27AE60; /* Fresh Green */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover style */
button[type="submit"]:hover {
    background-color: #2E8B57; /* Darker Green */
}

.success {
    color: #27AE60; /* Fresh Green */
    margin-bottom: 1rem;
    font-size: 1rem;
}